images
server/interfaces/__pycache__
src/interfaces/__pycache__
tts/__pycache__
tts/cloned_samples
tts/tts_out
src/interfaces/companion.db
src/interfaces/role.ini
src/interfaces/schedule.json
src/interfaces/screens
ai/interfaces/__pycache__
ai/interfaces/screens
ai/interfaces/role.ini
ai/interfaces/schedule.json
